
--SELECT *  FROM [connection].[dbo].[Config]


  UPDATE [connection].[dbo].[Config]
  SET CfgErrorPath = '\\ebs.prod.ecg.emperorgroup.net\ESL\ESLErrorPath'
  WHERE CfgBranchCode = 'ESL'

  UPDATE [connection].[dbo].[Config]
  SET CfgErrorPath = '\\ebs.prod.ecg.emperorgroup.net\ESL\EWMLErrorPath'
  WHERE CfgBranchCode = 'EWM'
