<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="Culture" value="en-GB"/>
    <!--<add key="ClientSettingsProvider.ServiceUri" value=""/>-->
    <add key="GSCnConConn" value="Persist Security Info=False;Data Source=ebs.uat.ecg.eguat.net;Initial Catalog=connection;User ID=EBSconn;Password=123456" />
    <!--<add key="GSCnConConn_PROD" value="Persist Security Info=False;Data Source=ebs.prod.ecg.emperorgroup.net;Initial Catalog=connection;User ID=EBSconn;Password=123456" />
    <add key="GSCnConConn_UAT" value="Persist Security Info=False;Data Source=ebs.uat.ecg.eguat.net;Initial Catalog=connection;User ID=EBSConn;Password=123456" />-->
    <add key="Branch" value="ESL"/>
    <!--<add key="ServerType" value="DV2"/>-->
    <add key="EventLogPath" value="C:\ErrorPath"/>
  </appSettings>
</configuration>
