SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[s_Ins_FutureProductMaster]') AND TYPE IN (N'P', N'PC'))
	DROP PROCEDURE [dbo].[s_Ins_FutureProductMaster]
GO

/*-- =============================================
-- Author : DavidYang
-- Create date : 2017/10/19 16:19
-- Last update : 2017/11/07 14:17
-- Description : Add Procedure FOR FutureProductMaster
-- ============================================= */
CREATE PROCEDURE [dbo].[s_Ins_FutureProductMaster]
	@CounterParty nvarchar(10),
	@ProductCode nvarchar(10),
	@ProductName nvarchar(60),
	@IsOption bit,
	@StrikeDecPla int,
	@PriceDecPla int,
	@ContractSize int
AS
BEGIN

	IF EXISTS (
		SELECT 1 
		FROM future_product_master 
		WHERE
				[counter_party]	=	@CounterParty
			AND [product_code]	=	@ProductCode
			AND [is_option]		=	@IsOption)
    BEGIN
		RAISERROR('Existing Counter Party, Product Code, Is Option!', 16, 1);
        RETURN @@ERROR
    END
	
	
	-- Insert AccountEntity
    INSERT INTO future_product_master
    (
		[counter_party], 
		[product_code], 
		[product_name], 
		[is_option], 
		[strike_dec_pla], 
		[price_dec_pla], 
		[contract_size]
	)
    VALUES 
	(
		@CounterParty,
		@ProductCode,
		@ProductName,
		@IsOption,
		@StrikeDecPla,
		@PriceDecPla,
		@ContractSize
    )
    SELECT SCOPE_IDENTITY() AS ID
END
GO