SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[s_Get_CommssionAdjustStock_CheckExist]') AND TYPE IN (N'P', N'PC'))
	DROP PROCEDURE [dbo].[s_Get_CommssionAdjustStock_CheckExist]
GO


/*-- =============================================
-- Author : Eddie
-- Create date : 2017/10/19 16:19
-- Last update : 2017/10/20 10:47
-- Description : CheckExist Procedure FOR CommssionAdjustStock_CheckExist
-- ============================================= */
CREATE PROCEDURE [dbo].[s_Get_CommssionAdjustStock_CheckExist]
    @liqDB nvarchar(100),
	@adjYear nvarchar(10),
    @adjMonth nvarchar(10),
    @clientCode nvarchar(20)
AS
BEGIN
    Set NOCOUNT ON;
    Set XACT_ABORT ON;

    BEGIN TRAN
	  DECLARE @sqlStr NVARCHAR(1000)
	  SET @sqlStr = 'SELECT accno FROM ' +@liqDB+ '.dbo.monthcomm WHERE accno = '''
	  + @clientCode + ''' AND YEAR(mth) = ''' + @adjYear + '''AND MONTH(mth) = ''' + @adjMonth + ''''
	  
	  EXEC (@sqlStr)
	   
	  SELECT accno FROM monthcommadj WHERE accno = @clientCode AND YEAR(adjDate) = @adjYear AND MONTH(adjDate) = @adjMonth

    COMMIT TRANSACTION  
  
    IF(@@ERROR <> 0) 
	    BEGIN 
		ROLLBACK TRANSACTION
		SELECT 0
		END

END
GO