SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[s_Get_ChequePrinting]') AND TYPE IN (N'P', N'PC'))
	DROP PROCEDURE [dbo].[s_Get_ChequePrinting]
GO

/*-- =============================================
-- Author : DavidYang
-- Create date : 2017/10/19 16:19
-- Last update : 2017/10/31 10:47 BY(Hugo Law)
-- Description : Search Procedure FOR ChequePrinting
-- ============================================= */
CREATE PROCEDURE [dbo].[s_Get_ChequePrinting]
	@txnDate datetime ,
	@orderby nvarchar(50) = ''
AS
BEGIN	
		SELECT 
			[sequence],
			[client_code],
			[txn_date],
			[amount],
			[name]
		FROM [dbo].[client_cheque] 
		WHERE [txn_date]  =  @txnDate
	
		--ORDER BY CASE @orderby WHEN '' THEN @orderBy ELSE sequence END

END
GO


--select * from [client_cheque]
