SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[s_Del_ChequePrinting]') AND TYPE IN (N'P', N'PC'))
	DROP PROCEDURE [dbo].[s_Del_ChequePrinting]
GO

/*-- =============================================
-- Author : DavidYang
-- Create date : 2017/10/19 16:19
-- Last update : 2017/10/20 10:47
-- Description : Delete Procedure FOR ChequePrinting
-- ============================================= */
CREATE PROCEDURE [dbo].[s_Del_ChequePrinting]
	@sequence		int,
	@txn_date		datetime
AS
BEGIN
	DELETE FROM client_cheque 
	WHERE 
			sequence	=	@sequence
		AND txn_date	=	@txn_date
	-- 添加Action Log
END
GO