
/****** Object:  StoredProcedure [dbo].[s_Get_ExchangeRate]    Script Date: 2017/11/2 15:10:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*-- =============================================
-- Author : HugoLaw
-- Create date : 2017/11/2
-- Last update : 
-- Description : Search Procedure FOR exchangerate
-- ============================================= */


IF OBJECT_ID('[dbo].[s_Get_ExchangeRate]') > 0
BEGIN
	DROP PROCEDURE [dbo].s_Get_ExchangeRate
END
GO

CREATE PROCEDURE [dbo].[s_Get_ExchangeRate]
	@system_type nvarchar(10) = '',
	@tdate datetime = null
AS
BEGIN

	SELECT exid,
		   tdate,
		   system_type AS TYPE,
		   currency_in AS currency,
		   ex_rate AS rate,
		   lupdtdate
	FROM exchangerate
	WHERE currency_in <> 'HKD'
	  AND (system_type LIKE '%' + @system_type + '%'
		   OR ISNULL(@system_type, '') = '')
	  AND (tdate = @tdate
		   AND @tdate IS NOT NULL)
END
GO

--declare @date datetime
--set @date = '2017-10-22'

--execute [dbo].[s_Get_ExchangeRate] 'A' , @date