SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[s_Del_FutureProductMaster]') AND TYPE IN (N'P', N'PC'))
	DROP PROCEDURE [dbo].[s_Del_FutureProductMaster]
GO

/*-- =============================================
-- Author : DavidYang
-- Create date : 2017/10/19 16:19
-- Last update : 2017/10/20 10:47
-- Description : Delete Procedure FOR FutureProductMaster
-- ============================================= */
CREATE PROCEDURE [dbo].[s_Del_FutureProductMaster]
	@id int
AS
BEGIN
	DELETE FROM future_product_master 
	WHERE 
			id = @id
	-- 添加Action Log
END
GO