SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[s_Rpt_CRCDebitBalance]') AND TYPE IN (N'P', N'PC'))
	DROP PROCEDURE [dbo].[s_Rpt_CRCDebitBalance]
GO

/*-- =============================================
-- Author : DoraemonYu
-- Create date : 2017/10/25 16:00
-- Last update : 2018/03/21 09:42
-- Description : Add Procedure FOR Print CRC Debit Balance
-- ============================================= */
CREATE PROCEDURE [dbo].[s_Rpt_CRCDebitBalance]
	@LiqConn varchar(100),
	@runnerCodeFrom varchar(20),
	@runnerCodeTo varchar(20),
	@addition bit
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;


	DECLARE @sql varchar(max)

	SET @sql = '
		WITH ae_db AS(
		SELECT Ae.RUN_CODE,
			   Ae.RUN_NAME,
			   SUM(ISNULL(Mst.MKT_VALUE, 0)) AS ttl_mv,
			   SUM(ISNULL(Mst.MC_DR_BAL, 0)) AS ttl_dr
		FROM ' + @LiqConn + '.dbo.[STAEMASTER] AS Ae
		LEFT OUTER JOIN ' + @LiqConn + '.dbo.[STCLTMASTER] AS Mst ON Mst.RUN_CODE = Ae.RUN_CODE COLLATE DATABASE_DEFAULT 
		GROUP BY Ae.RUN_CODE,
				 Ae.RUN_NAME
	),'

	
	SET @sql = @sql + '
		view_ae_db as (
		SELECT		Ae.Run_Code, Ae.Run_Name, SUM(ISNULL(Mst.MKT_VALUE, 0)) AS ttl_mv, SUM(ISNULL(Mst.MC_DR_BAL, 0)) 
					AS ttl_dr
		FROM      ' + @LiqConn + '.dbo.STAEMASTER AS Ae 
		LEFT OUTER JOIN
                  ' + @LiqConn + '.dbo.STCLTMASTER AS Mst ON Mst.RUN_CODE = Ae.Run_Code COLLATE DATABASE_DEFAULT 
		GROUP BY Ae.Run_Code, Ae.Run_Name
    ),
	'

	SET @sql = @sql + '
		fbal AS (
		SELECT aeno AS run_code,
			   aename AS rname,
			   SUM(CASE cuid
					   WHEN ''3'' THEN (cash_bal * (-0.01) * lastex)
					   ELSE (cash_bal * (-1) * lastex)
				   END) AS bal
		FROM ' + @LiqConn + '.dbo.STAEFUTBAL
		WHERE ROUND(cash_bal,2) < 0
		GROUP BY aeno,aename
	),'

	SET @sql = @sql + '
		crc_mst AS (
		SELECT   ISNULL(view_ae_db.RUN_CODE, fbal.run_code) AS run_code, ISNULL(view_ae_db.RUN_NAME, fbal.rname) 
                AS rname, ISNULL(view_ae_db.ttl_mv, 0) AS ttl_mv, ISNULL(view_ae_db.ttl_dr, 0) AS ttl_dr, ISNULL(fbal.bal, 0) 
                AS bal
FROM      view_ae_db INNER JOIN
                    (SELECT   AENO AS run_code, AENAME AS rname, SUM(CASE cuid WHEN ''3'' THEN (cash_bal * (- 0.01) * lastex) 
                                     ELSE (cash_bal * (- 1) * lastex) END) AS bal
                     FROM      ' + @LiqConn + '.dbo.STAEFUTBAL
                     WHERE   (ROUND(CASH_BAL, 2) < 0)
                     GROUP BY AENO, AENAME) AS fbal ON view_ae_db.RUN_CODE = fbal.run_code COLLATE DATABASE_DEFAULT 
	)
	'	

	SET @sql = @sql + '
	SELECT mst.run_code,
		   mst.rname AS rname,
		   ttl_mv AS mv,
		   ttl_dr AS dr,
		   (CASE mst.ttl_mv
				WHEN 0 THEN mst.ttl_mv
				ELSE ((mst.ttl_dr / mst.ttl_mv) * 100)
			END) AS actr,
		   mst.bal AS bal,
		   CONVERT(VARCHAR(21), cast(out.deduct_b AS money)) AS dd_b_str,
		   CONVERT(VARCHAR(21), cast(out.deduct_c AS money)) AS dd_c_str,
		   ISNULL(out.setoff,0) AS seto,
		   out.remarks AS remarks
	FROM crc_mst AS mst
	LEFT OUTER JOIN ' + @LiqConn + '.dbo.STRUNOUTSTD AS OUT ON mst.run_code = out.run_code COLLATE DATABASE_DEFAULT 
	WHERE len(ltrim(rtrim(mst.run_code))) > 0
				';
	IF @addition = 1 
	SET @sql = @sql + ' and		( out.deduct_c > 0 or out.deduct_b > 0 )		 ';


	IF @runnerCodeFrom IS NOT NULL AND len(@runnerCodeFrom) > 0
	SET @sql = @sql + '
	and		mst.run_code >= ''' + @runnerCodeFrom + ''' ';

	IF @runnerCodeTo IS NOT NULL AND len(@runnerCodeTo) > 0
	SET @sql = @sql + '
	and		mst.run_code <= ''' + @runnerCodeTo + ''' ';
									
			
	SET @sql = @sql + ' order by mst.run_code';
	EXEC (@sql)


	END
GO