SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[s_Upd_FutureProductMaster]') AND TYPE IN (N'P', N'PC'))
	DROP PROCEDURE [dbo].[s_Upd_FutureProductMaster]
GO

/*-- =============================================
-- Author : DavidYang
-- Create date : 2017/10/19 16:19
-- Last update : 2017/11/07 14:17
-- Description : Update Procedure FOR FutureProductMaster
-- ============================================= */
CREATE PROCEDURE [dbo].[s_Upd_FutureProductMaster]
	@ID int,
	@CounterParty nvarchar(10),
	@ProductCode nvarchar(10),
	@ProductName nvarchar(60),
	@IsOption bit,
	@StrikeDecPla int,
	@PriceDecPla int,
	@ContractSize int
AS
BEGIN

	IF EXISTS (
		SELECT 1 
		FROM future_product_master 
		WHERE
				counter_party	=	@CounterParty
			AND product_code	=	@ProductCode
			AND is_option		=	@IsOption
			AND id				<>	@ID)
    BEGIN
		RAISERROR ('Existing Counter Party, Product Code, Is Option!', 16, 1)
        RETURN @@ERROR
    END
	
	
	-- Insert AccountEntity
    UPDATE future_product_master
	SET [counter_party] 	 = @CounterParty,
		[product_code] 	 = @ProductCode,
		[product_name] 	 = @ProductName,
		[is_option] 		 = @IsOption,
		[strike_dec_pla] 	 = @StrikeDecPla,
		[price_dec_pla] 	 = @PriceDecPla,
		[contract_size]	 = @ContractSize
    WHERE @ID = id
	
    IF @@RowCount = 0
        SELECT -1 AS Status, 'Fail to update the FutureProductMaster.' AS Msg
    ELSE
        SELECT 0 AS Status, 'FutureProductMaster Updated.' AS Msg
END
GO