use ESL_LIQ
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[s_Get_RunnerCodes]') AND TYPE IN (N'P', N'PC'))
	DROP PROCEDURE [dbo].[s_Get_RunnerCodes]
GO

/*-- =============================================
-- Author : DoraemonYu
-- Create date : 2017/10/25 16:00
-- Last update : 2017/10/25 16:00
-- Description : Add Procedure FOR Get "To" list of "RunnerCode" 
-- ============================================= */
CREATE PROCEDURE [dbo].[s_Get_RunnerCodes]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	SELECT DISTINCT 
		cm.run_code 
	FROM stcltmaster cm
	LEFT JOIN stcltliq cl ON cm.clt_code = cl.clt_code
	WHERE 
		cl.liq_day > 0 
	ORDER BY cm.run_code
        
END
GO