<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="GSCnConConn" value="Persist Security Info=False;Data Source=ebs.uat.ecg.eguat.net;Initial Catalog=connection;User ID=EBSConn;Password=123456" />
    <!--<add key="GSCnConConn_PROD" value="Persist Security Info=False;Data Source=ebs.prod.ecg.emperorgroup.net;Initial Catalog=connection;User ID=EBSconn;Password=123456" />
    <add key="GSCnConConn_UAT" value="Persist Security Info=False;Data Source=ebs.uat.ecg.eguat.net;Initial Catalog=connection;User ID=EBSConn;Password=123456" />-->
    <add key="EmailHost" value="10.138.57.12"/>
    <!--<add key="EmailHost" value="128.127.30.1"/>-->
    <add key="Branch" value="ESL"/>
    <add key="ImportData_EmailSender" value="ecg.ebs.liq@emperorgroup.com"/>
    <add key="ImportData_EmailSubjectPrefix" value="[UAT][EBS][LIQ]"/>
    <!--<add key="ImportData_EmailTo" value="application.support@emperorgroup.com,gitbs-ecg@emperorgroup.com,itproductionsupport@emperorgroup.com,IT-HelpdeskTeam@emperorgroup.com"/>-->
    <add key="ImportData_EmailTo" value="chrischanty@emperorgroup.com"/>
    <add key="IsBackgroundMode" value="False"/>
  </appSettings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" 
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
</configuration>
