SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF  EXISTS (SELECT 1 FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[s_Upd_CommssionAdjustFutures]') AND TYPE IN (N'P', N'PC'))
	DROP PROCEDURE [dbo].[s_Upd_CommssionAdjustFutures]
GO


/*-- =============================================
-- Author : Eddie
-- Create date : 2017/11/03 16:19
-- Last update : 2017/11/03 10:47
-- Description : Upate Procedure FOR CommssionAdjustFutures
-- ============================================= */
CREATE PROCEDURE [dbo].[s_Upd_CommssionAdjustFutures]
	@adjYear nvarchar(10),
    @adjMonth nvarchar(10),
    @clientCode nvarchar(20),
	@adjustment decimal(18,2)
AS
BEGIN
    Set NOCOUNT ON;
    Set XACT_ABORT ON;

    BEGIN TRAN

	  DELETE FROM MonthCommFAdj WHERE accno = @clientCode AND YEAR(adjDate) = @adjYear AND MONTH(adjDate) = @adjMonth

	  INSERT INTO MonthCommFAdj(accno, adjDate, adj) VALUES (@clientCode, @adjYear+@adjMonth+'01', @adjustment)

    COMMIT TRANSACTION  
	SELECT 1
  
    IF(@@ERROR <> 0) 
	    BEGIN 
		ROLLBACK TRANSACTION
		SELECT 0
		END

END

GO