IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[s_Ins_DailyIPOAdj]') AND TYPE IN (N'P', N'PC'))
	DROP PROCEDURE [dbo].[s_Ins_DailyIPOAdj]
GO




/*-- =============================================
-- Author : Eddie
-- Create date : 2017/10/19 16:19
-- Last update : 2017/10/20 10:47
-- Description : Insert Procedure FOR Daily IPO Adjustment
-- ============================================= */
CREATE PROCEDURE [dbo].[s_Ins_DailyIPOAdj]
	@clientCode nvarchar(20),
    @adjDate datetime,
    @IPO decimal(18,2)
AS
BEGIN
    Set NOCOUNT ON;
    Set XACT_ABORT ON;

    BEGIN TRAN

	  INSERT INTO DailyIPOAdj
	  (
	     accno, 
		 adjDate, 
		 IPO
	  ) 
	  VALUES 
	  (
	     @clientCode, 
		 @adjDate, 
		 @IPO
	  )
	  
	  SELECT 1

    COMMIT TRANSACTION  
    
    IF(@@ERROR <> 0)
	  BEGIN
		ROLLBACK TRANSACTION
		SELECT 0	  
	  END  

    
END

GO