SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF  EXISTS (SELECT 1 FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[s_Get_CommssionAdjustFutures]') AND TYPE IN (N'P', N'PC'))
	DROP PROCEDURE [dbo].[s_Get_CommssionAdjustFutures]
GO



/*-- =============================================
-- Author : Eddie
-- Create date : 2017/10/19 16:19
-- Last update : 2017/10/20 10:47
-- Description : Search Procedure FOR CommssionAdjustFutures
-- ============================================= */
CREATE PROCEDURE [dbo].[s_Get_CommssionAdjustFutures]
    @liqDB nvarchar(100),
	@g2bfDB nvarchar(100),
	@adjYear nvarchar(10),
    @adjMonth nvarchar(10),
    @fromClient nvarchar(20),
	@toClient nvarchar(20),
    @nonZero bit
AS
BEGIN
    Set NOCOUNT ON;
    Set XACT_ABORT ON;

    BEGIN TRAN

	  CREATE TABLE #comm
	     (accno nvarchar(10), 
		  accname nvarchar(200), 
		  comm numeric(14,2), 
		  adj numeric(14,2))
	  CREATE TABLE #clientlist
	     (accno nvarchar(10), 
		  name_1 nvarchar(200))
	  DECLARE @sqlStr  VARCHAR(1000)

	  SET @sqlStr = 'SELECT 
	                    DISTINCT clm.accno, 
						CAST(clm.name_1 AS NVARCHAR(60)) AS name_1 
					 FROM '+ 
					    @g2bfDB + '.dbo.Client_Master clm'
	  INSERT INTO #clientlist (accno, name_1) EXEC (@sqlStr)	

	  SET @sqlStr = 'SELECT 
	                    DISTINCT accno 
					 FROM 
					   (SELECT 
					       accno 
					    FROM MonthCommFAdj 
						WHERE 
						       YEAR(adjDate) = '+ @adjYear + ' 
						   AND MONTH(adjDate) = '+ @adjMonth + ' 
					   UNION 
					   SELECT 
					      accno COLLATE DATABASE_DEFAULT 
					   FROM ' + @LiqDB + '.dbo.MonthCommF 
					   WHERE 
					           YEAR(mth) = ' + @adjYear + ' 
						   AND MONTH(mth) = ' + @adjMonth +  
					  ') a'
      INSERT INTO #comm (accno) EXEC (@sqlStr)	    
	  
	  SET @sqlStr = 'UPDATE 
	                    #comm 
					 SET 
					    #comm.comm = tmpcomm.comm 
					 FROM ' + 
					    @LiqDB + '.dbo.MonthCommF tmpcomm 
					 WHERE 
					        #comm.accno COLLATE DATABASE_DEFAULT = tmpcomm.accno COLLATE DATABASE_DEFAULT 
						AND YEAR(mth) = ' + @adjYear + ' 
						AND MONTH(mth) = ' + @adjMonth

	  EXEC (@sqlStr)

	  UPDATE #comm 
	  SET 
	     #comm.adj = tmpadj.adj 
	  FROM 
	     MonthCommFAdj tmpadj 
	  WHERE 
	         #comm.accno collate DATABASE_DEFAULT = tmpadj.accno COLLATE DATABASE_DEFAULT 
		 AND YEAR(adjDate) = @adjYear 
		 AND MONTH(adjDate) = @adjMonth

	  UPDATE #comm 
	  SET 
	     #comm.accname = RTRIM(c.name_1) 
	  FROM 
	     #clientlist c 
	  WHERE #comm.accno collate DATABASE_DEFAULT = c.accno collate DATABASE_DEFAULT
	  
	  UPDATE #comm SET accname = '' WHERE accname is null

	  UPDATE #comm SET comm = 0 WHERE comm is null

	  UPDATE #comm SET adj = 0 WHERE adj is null


	  SELECT 
	     accno, 
		 accname, 
		 @adjYear + '/' + @adjMonth AS mth, 
		 comm, 
		 adj, 
		 comm + adj AS total 
	  FROM 
	     #comm AS detail 
	  WHERE 
	         (accno >= @fromClient OR @fromClient = '')
	     AND (accno <= @toClient OR @toClient = '')
	     AND (@nonZero != 1 OR adj > 0)
	  ORDER BY accno

	  SELECT 
	     @adjYear + '/' + @adjMonth AS tmth, 
		 SUM(comm) AS tcomm, 
		 SUM(adj) AS tadj, 
		 SUM(comm + adj) AS ttotal 
	  FROM 
	     #comm AS total 
	  WHERE 
	         (accno >= @fromClient OR @fromClient = '')
	     AND (accno <= @toClient OR @toClient = '')
	     AND (@nonZero != 1 OR adj > 0)
	  ORDER BY tmth

    COMMIT TRANSACTION  
    
    IF(@@ERROR <> 0)  
		ROLLBACK TRANSACTION

	IF OBJECT_ID('DBO.#comm') IS NOT NULL
	  BEGIN
         DROP TABLE #comm
      END

	IF OBJECT_ID('DBO.#clientlist') IS NOT NULL
	  BEGIN
         DROP TABLE #clientlist
      END
    
END

GO
