SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF  EXISTS (SELECT 1 FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[s_Get_ImportDataProgress]') AND TYPE IN (N'P', N'PC'))
	DROP PROCEDURE [dbo].[s_Get_ImportDataProgress]
GO

/*-- =============================================
-- Author : DavidYang
-- Create date : 2018/01/08 10:19
-- Last update : 2018/01/08 17:19
-- Description : Get Import Data Progress
-- exec [s_Get_ImportDataProgress] 'asdasdf',0
-- ============================================= */
CREATE PROCEDURE [dbo].[s_Get_ImportDataProgress]
	@group varchar(100),
	@stepId int
AS
BEGIN	
	SELECT
		doneTB.DoneCount,
		id,
		[group],
		current_step,
		totle_step,
		message,
		create_user,
		create_date
	FROM (
		SELECT COUNT(1) DoneCount
		FROM import_data_history WITH (NOLOCK)
		WHERE [group] = @group
	) doneTB	-- 为了处理事务取消的情况，每次查一个已经完成的数量，如果完成数量减少，证明操作取消
	LEFT JOIN 
	(
		SELECT 
			id,
			[group],
			current_step,
			totle_step,
			message,
			create_user,
			create_date
		FROM 
		import_data_history WITH (NOLOCK) 
		WHERE 
			id > @stepId
			AND [group] = @group
	) AS dh 
	ON 1=1
	ORDER BY id
END
GO