SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF  EXISTS (SELECT 1 FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[s_Get_CommssionAdjustFutures_CheckClientCode]') AND TYPE IN (N'P', N'PC'))
	DROP PROCEDURE [dbo].[s_Get_CommssionAdjustFutures_CheckClientCode]
GO




/*-- =============================================
-- Author : Eddie
-- Create date : 2017/10/19 16:19
-- Last update : 2017/10/20 10:47
-- Description : CheckExist Procedure FOR CommssionAdjustFutures_CheckClientCode
-- ============================================= */
CREATE PROCEDURE [dbo].[s_Get_CommssionAdjustFutures_CheckClientCode]
	@g2bfDB nvarchar(100),
    @clientCode nvarchar(20)
AS
BEGIN
    Set NOCOUNT ON;
    Set XACT_ABORT ON;

    BEGIN TRAN
	  DECLARE @sqlStr nvarchar(1000)
	  
	  SET @sqlStr = 'SELECT 
	                    accno 
					 FROM ' +
					    @g2bfDB+ '.dbo.Client_Master AS clm 
					 WHERE 
					    accno=''' + @clientCode + '''' 
	  
	  EXEC (@sqlStr)

    COMMIT TRANSACTION  
  
    IF(@@ERROR <> 0) 
	    BEGIN 
		ROLLBACK TRANSACTION
		SELECT 0
	END

END

GO