SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF  EXISTS (SELECT 1 FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[s_Get_ImportDataExecutingGroup]') AND TYPE IN (N'P', N'PC'))
	DROP PROCEDURE [dbo].[s_Get_ImportDataExecutingGroup]
GO

/*-- =============================================
-- Author : DavidYang
-- Create date : 2018/01/08 10:19
-- Last update : 2018/01/08 17:19
-- Description : Get Import Data Progress
-- ============================================= */
CREATE PROCEDURE [dbo].[s_Get_ImportDataExecutingGroup]
AS
BEGIN	
	
	SELECT TOP 1
		[group]
	FROM import_data_history WITH (NOLOCK)
	ORDER BY id DESC
END
GO