SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF  EXISTS (SELECT 1 FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[s_Upd_IntAdjust]') AND TYPE IN (N'P', N'PC'))
	DROP PROCEDURE [dbo].[s_Upd_IntAdjust]
GO


/*-- =============================================
-- Author : Eddie
-- Create date : 2017/10/19 16:19
-- Last update : 2017/10/20 10:47
-- Description : Update Procedure FOR Interest Adjustment
-- ============================================= */
CREATE PROCEDURE [dbo].[s_Upd_IntAdjust]
	@adjYear nvarchar(10),
    @adjMonth nvarchar(10),
    @clientCode nvarchar(20),
	@adjustment decimal(18,2)
AS
BEGIN
    Set NOCOUNT ON;
    Set XACT_ABORT ON;

    BEGIN TRAN

      DELETE 
	  FROM MonthIntAdj 
	  WHERE 
	         accno = @clientCode 
		 AND YEAR(adjDate) = @adjYear 
		 AND MONTH(adjDate) = @adjMonth
	  
	  INSERT INTO MonthIntAdj
		 (accno, 
		 adjDate, 
		 adj) 
	  Values 
		 (@clientCode, 
		 @adjYear+'-'+@adjMonth+'-01', 
		 @adjustment)

    COMMIT TRANSACTION
    SELECT 1
  
    IF(@@ERROR <> 0) 
	    BEGIN 
		ROLLBACK TRANSACTION
		SELECT 0
		END
END

GO