IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[s_Get_DailyIPOAdj]') AND TYPE IN (N'P', N'PC'))
	DROP PROCEDURE [dbo].[s_Get_DailyIPOAdj]
GO



/*-- =============================================
-- Author : Eddie
-- Create date : 2017/10/19 16:19
-- Last update : 2017/10/20 10:47
-- Description : Search Procedure FOR Daily IPO Adjustment
-- ============================================= */
CREATE PROCEDURE [dbo].[s_Get_DailyIPOAdj]
	@adjYear nvarchar(10),
    @adjMonth nvarchar(10),
    @fromClient nvarchar(20),
	@toClient nvarchar(20)
AS
BEGIN
    Set NOCOUNT ON;
    Set XACT_ABORT ON;

    BEGIN TRAN
	  SELECT 
	     adjIPOID, 
		 accno, 
		 CONVERT(VARCHAR(10), adjDate, 103) AS adjDate,
		 ipo
	  FROM DailyIPOAdj AS detail 
	  WHERE 
	         YEAR(adjDate) = @adjYear 
		 AND MONTH(adjDate) = @adjMonth
	     AND (accno >= @fromClient OR @fromClient = '')
	     AND (accno <= @toClient OR @toClient = '')
	  ORDER BY accno

	  SELECT 
	     SUM(ipo) AS tipo
	  FROM DailyIPOAdj AS total 
	  WHERE 
	         YEAR(adjDate) = @adjYear 
		 AND MONTH(adjDate) = @adjMonth
	     AND (accno >= @fromClient OR @fromClient = '')
	     AND (accno <= @toClient OR @toClient = '')

    COMMIT TRANSACTION  
    
    IF(@@ERROR <> 0)  
		ROLLBACK TRANSACTION
    
END

GO