SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[s_Rpt_RunnerTaxableIncomeMaster_Summary]') AND TYPE IN (N'P', N'PC'))
	DROP PROCEDURE [dbo].[s_Rpt_RunnerTaxableIncomeMaster_Summary]
GO

/*-- =============================================
-- Author : DoraemonYu
-- Create date : 2017/02/06 11:50
-- Last update : 2017/02/06 19:30
-- ============================================= */
Create PROCEDURE [dbo].[s_Rpt_RunnerTaxableIncomeMaster_Summary]
	@RecordOption as tinyint	= 1,					-- Record Option			1=All	2=Range
	@RangeFrom as varchar(5)	= '',
	@RangeTo as varchar(5)		= '',
	@Member as varchar(1)		= ''
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	
	-- get db name
	DECLARE @database_name nvarchar(100)
	SELECT @database_name = [CIfChrDataBase] FROM [DB_Information] WHERE [CIfChrServerType] = 'GL'

	-- exec	
	DECLARE @sqlStr  NVARCHAR(4000)
	SET @sqlStr = N'
	SELECT		(summary.[RUN_CODE] + summary.[RUN_MEMBER]) as GroupID,
				summary.[RUN_CODE], 
				summary.[RUN_MEMBER], 
                summary.[TXN_MONTH], 
				summary.[TXN_YEAR], 
                summary.[HIDE], 
				summary.[STK_TO], 
				summary.[EO_TO], 
                summary.[HSI_TO], 
				summary.[HSIO_TO], 
                summary.[HSI100_TO], 
				summary.[HSI100O_TO], 
                summary.[MHSI_TO], 
				summary.[RC_TO], 
                summary.[RCO_TO], 
				summary.[SF_TO], 
                summary.[ABSENCE], 
				summary.[ADJUST_TAX], 
                summary.[MPF], 
				summary.[VOL], 
				summary.[PAY_DATE], 
                summary.[MPF_CO], 
				summary.[VOL_CO], 
                summary.[HELD_REMUN], 
                summary.[REMARK], 
				summary.[LAST_TAX],
				summary.[LAST_REMUN],
				summary.[LAST_MPF],
				rmaster.[RUN_NAME]
	FROM		' + @database_name + N'.[dbo].[GLRUNTAXSUMMARY] as summary		LEFT  JOIN	' + @database_name + N'.[dbo].[GLRUNMASTER] as rmaster
			ON	summary.[RUN_CODE] = rmaster.[RUN_CODE] 
			AND summary.[RUN_MEMBER] = rmaster.[RUN_MEMBER]'		

			--筛选部分
			IF @RecordOption = 2
				BEGIN

				SET @sqlStr = @sqlStr + N' WHERE summary.[RUN_MEMBER] = ''' + @Member + N''' AND 
												 summary.[RUN_CODE] >= ''' + @RangeFrom + N''' AND
												 summary.[RUN_CODE] <= ''' + @RangeTo + N'''
										 '
				END


			--排序部分
			SET @sqlStr = @sqlStr + N' ORDER BY		summary.[RUN_CODE] '

	PRINT @sqlStr
	EXEC sp_executesql @sqlStr

END
GO