SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[s_Get_SuspendStockClient]') AND TYPE IN (N'P', N'PC'))
	DROP PROCEDURE [dbo].[s_Get_SuspendStockClient]
GO

/*-- =============================================
-- Author : DavidYang
-- Create date : 2017/11/29 10:19
-- Last update : 2017/11/29 10:47
-- Description : Search Suspend Stock Client
-- ============================================= */
CREATE PROCEDURE [dbo].[s_Get_SuspendStockClient]
	@balanceDB nvarchar(100) ,
	@liqDB nvarchar(100) ,
	@tradeDate datetime ,
	@stockFrom nvarchar(50) = '',
	@stockTo nvarchar(50) = '',
	@clientFrom nvarchar(50) = '',
	@clientTo nvarchar(50) = ''
AS
BEGIN	
	DECLARE @sql varchar(max)
	DECLARE @where varchar(max)
	SET @where = ''

    IF LEN(@stockFrom) > 0
	BEGIN
        SET @where = @where + ' AND stock_code >= ''' + @stockFrom + ''' '
    END
    IF LEN(@stockTo) > 0
	BEGIN
        SET @where = @where + ' AND stock_code <= ''' + @stockTo + ''' '
    END
    IF LEN(@clientFrom) > 0
	BEGIN
        SET @where = @where + ' AND accno >= ''' + @clientFrom + ''' '
    END
    IF LEN(@clientTo) > 0
	BEGIN
        SET @where = @where + ' AND accno <= ''' + @clientTo + ''' '
    END


	SET @sql = '
		SELECT accno,
			   stock_code,
			   qty
		FROM ' + @liqDB + '.dbo.stsuspendstock AS ss,
			 ' + @balanceDB + '.dbo.stockconcentration AS sc
		WHERE tdate = ''' + CONVERT(varchar(100), @tradeDate, 23) + '''
		  AND ss.stkno = sc.stock_code collate Chinese_Taiwan_Bopomofo_CI_AS
		  AND accno <> ''Total''
		  ' + @where + '
		ORDER BY stock_code,
				 accno'
	print @sql
	EXEC(@sql)

END
GO