<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="Culture" value="en-GB" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="GSCnConConn" value="Persist Security Info=False;Data Source=ebs.uat.ecg.eguat.net;Initial Catalog=connection;User ID=EBSConn;Password=123456" />
    <!--<add key="GSCnConConn_UAT" value="Persist Security Info=False;Data Source=ebs.uat.ecg.eguat.net;Initial Catalog=connection;User ID=EBSConn;Password=123456" />
    <add key="GSCnConConn_Prod" value="Persist Security Info=False;Data Source=ebs.prod.ecg.emperorgroup.net;Initial Catalog=connection;User ID=EBSconn;Password=123456" />-->

    <!-- Solution 1"LPT2" ; Solution 2，input "\\127.0.0.1\ww" or "\\.\LPT2"  (Need to use CMD to create printer：   net use LPT2 \\127.0.0.1\ww /persistent:yes  )-->
    <add key="ChequePrinter_LPTName" value="\\.\LPT2" />

    <add key="EmailHost" value="10.138.57.12"/>
    <add key="EmailSender" value="ecgpassword@emperor.com.hk"/>
    <add key="Branch" value="ESL"/>

    <add key="ImportData_EmailSender" value="ecg.ebs.liq@emperorgroup.com"/>
    <add key="ImportData_EmailSubjectPrefix" value="[EBS][LIQ]"/>
    <add key="ImportData_EmailTo" value="application.support@emperorgroup.com,gitbs-ecg@emperorgroup.com,itproductionsupport@emperorgroup.com,IT-HelpdeskTeam@emperorgroup.com"/>
    <!--<add key="ImportData_EmailTo" value="chrischanty@emperorgroup.com"/>-->
  </appSettings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>