use ESL
GO

--For UAT

--UPDATE DB_Information 
--SET CIfChrConnection = 'Persist Security Info=False;data source=ebs.uat.ecg.eguat.net;initial catalog=BALANCE;user id=ebssvc;password=P@ssw0rd', CIfChrDataBase = 'BALANCE'
--WHERE CIfChrSystem = 'ESL' AND CIfChrServerType = 'BAL'

--UPDATE DB_Information 
--SET CIfChrDataBase = 'G2BS_RET.G2SB_UAT4_PROD'
--WHERE CIfChrSystem = 'ESL' AND CIfChrServerType = 'G2BS'

--UPDATE DB_Information 
--SET CIfChrDataBase = 'G2BF_RET.G2FB_UAT4_PROD'
--WHERE CIfChrSystem = 'ESL' AND CIfChrServerType = 'G2BF'

--UPDATE DB_Information 
--SET CIfChrConnection = 'Persist Security Info=False;data source=ebs.uat.ecg.eguat.net;initial catalog=ESL;user id=ebssvc;password=P@ssw0rd'
--WHERE CIfChrSystem = 'ESL' AND CIfChrServerType = 'ESL'

--UPDATE DB_Information 
--SET CIfChrConnection = 'Persist Security Info=False;data source=ebs.uat.ecg.eguat.net;initial catalog=ESL_GL;user id=ebssvc;password=P@ssw0rd'
--WHERE CIfChrSystem = 'ESL' AND CIfChrServerType = 'GL'

--UPDATE DB_Information 
--SET CIfChrConnection = 'Persist Security Info=False;data source=ebs.uat.ecg.eguat.net;initial catalog=ESL_LIQ;user id=ebssvc;password=P@ssw0rd'
--WHERE CIfChrSystem = 'ESL' AND CIfChrServerType = 'LIQ'

--UPDATE DB_Information 
--SET CIfChrDataBase = 'G2BF_RET.G2FB_UAT4_PROD'
--WHERE CIfChrSystem = 'ESL' AND CIfChrServerType = 'PG2BF'

--UPDATE DB_Information 
--SET CIfChrDataBase = 'G2BS_RET.G2SB_UAT4_PROD'
--WHERE CIfChrSystem = 'ESL' AND CIfChrServerType = 'PG2BS'

--UPDATE DB_Information 
--SET CIfChrDataBase = 'G2BS_LASTM.G2SB_UAT4_PROD'
--WHERE CIfChrSystem = 'ESL' AND CIfChrServerType = 'LG2BS'

--UPDATE DB_Information 
--SET CIfChrDataBase = 'G2BF_LASTM.G2FB_UAT4_PROD'
--WHERE CIfChrSystem = 'ESL' AND CIfChrServerType = 'LG2BF'


--For PROD

UPDATE DB_Information 
SET CIfChrConnection = 'Persist Security Info=False;data source=ebs.prod.ecg.emperorgroup.net;initial catalog=BALANCE;user id=ecg_ebssvc_prod;password=ecg_ebssvc_prod', CIfChrDataBase = 'BALANCE'
WHERE CIfChrSystem = 'ESL' AND CIfChrServerType = 'BAL'

UPDATE DB_Information 
SET CIfChrConnection = 'Persist Security Info=False;data source=ebs.prod.ecg.emperorgroup.net;initial catalog=ESL;user id=ecg_ebssvc_prod;password=ecg_ebssvc_prod'
WHERE CIfChrSystem = 'ESL' AND CIfChrServerType = 'ESL'

UPDATE DB_Information 
SET CIfChrConnection = 'Persist Security Info=False;data source=ebs.prod.ecg.emperorgroup.net;initial catalog=ESL_GL;user id=ecg_ebssvc_prod;password=ecg_ebssvc_prod'
WHERE CIfChrSystem = 'ESL' AND CIfChrServerType = 'GL'

UPDATE DB_Information 
SET CIfChrConnection = 'Persist Security Info=False;data source=ebs.prod.ecg.emperorgroup.net;initial catalog=ESL_LIQ;user id=ecg_ebssvc_prod;password=ecg_ebssvc_prod'
WHERE CIfChrSystem = 'ESL' AND CIfChrServerType = 'LIQ'

INSERT INTO DB_Information
VALUES ('ESL', 'YG2BS', 'Persist Security Info=False;data source=ebs.prod.ecg.emperorgroup.net;initial catalog=G2BS_RET_LASTY;user id=ecg_ebssvc_prod;password=ecg_ebssvc_prod', 'G2BS_RET_LASTY', '', 'N', 'N'),
('ESL', 'YG2BF', 'Persist Security Info=False;data source=ebs.prod.ecg.emperorgroup.net;initial catalog=G2FB_RET_LASTY;user id=ecg_ebssvc_prod;password=ecg_ebssvc_prod', 'G2FB_RET_LASTY', '', 'N', 'N')