
--SELECT *  FROM [connection].[dbo].[Config]


  --UPDATE [connection].[dbo].[Config]
  --SET CfgErrorPath = '\\ebs.prod.ecg.emperorgroup.net\ESL\ESLErrorPath'
  --WHERE CfgBranchCode = 'ESL'

  --UPDATE [connection].[dbo].[Config]
  --SET CfgErrorPath = '\\ebs.prod.ecg.emperorgroup.net\ESL\EWMLErrorPath'
  --WHERE CfgBranchCode = 'EWM'

  
  UPDATE [connection].[dbo].Config 
  SET CfgErrorPath = '\\10.130.12.13\ebs\ESL\EWMLErrorPath'
  WHERE CfgBranchCode = 'EWM'

  
  UPDATE [connection].[dbo].Config 
  SET CfgErrorPath = '\\10.130.12.13\ebs\ESL\EBS5UATErrorPath'
  WHERE CfgBranchCode = 'ESL_UAT'

  
  UPDATE [connection].[dbo].Config 
  SET CfgErrorPath = '\\10.130.12.13\ebs\ESL\EBS5ErrorPath'
  WHERE CfgBranchCode = 'ESL'
