/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [CIfChrSystem]
      ,[CIfChrServerType]
      ,[CIfChrConnection]
      ,[CIfChrDataBase]
      ,[CIfChrPriceFeed]
      ,[CIfChrIsReportDB]
  FROM [connection].[dbo].[Connection_Information]

  UPDATE [connection].[dbo].[Connection_Information]
  SET [CIfChrConnection] = 'Persist Security Info=False;data source=ebs.prod.ecg.emperorgroup.net;initial catalog=EWML;user id=ecg_ebssvc_prod;password=ecg_ebssvc_prod',
  --UAT
  --SET [CIfChrConnection] = 'Persist Security Info=False;data source=eslntufoxa1.eguat.net;Initial Catalog=EWML;User ID=EBSConn;Password=P@ss0wrd789',
  [CIfChrPriceFeed]=''
  WHERE [CIfChrSystem] = 'EWM' AND [CIfChrServerType] = 'EWM'

  UPDATE [connection].[dbo].[Connection_Information] 
  SET [CIfChrConnection] = 'Persist Security Info=False;data source=ebs.prod.ecg.emperorgroup.net;initial catalog=ESL_UAT_1;user id=ecg_ebssvc_prod;password=ecg_ebssvc_prod',
  --UAT
  --SET [CIfChrConnection] = 'Persist Security Info=False;data source=eslntufoxa1.eguat.net;Initial Catalog=ESL_UAT_1;User ID=EBSConn;Password=P@ss0wrd789',
  [CIfChrPriceFeed]=''
  WHERE [CIfChrSystem] = 'ESL' AND [CIfChrServerType] = 'UAT'

  UPDATE [connection].[dbo].[Connection_Information] 
  SET [CIfChrConnection] = 'Persist Security Info=False;data source=ebs.prod.ecg.emperorgroup.net;initial catalog=ESL;user id=ecg_ebssvc_prod;password=ecg_ebssvc_prod',
  --UAT
  --SET [CIfChrConnection] = 'Persist Security Info=False;data source=eslntufoxa1.eguat.net;Initial Catalog=ESL;User ID=EBSConn;Password=P@ss0wrd789',
  [CIfChrPriceFeed]=''
  WHERE [CIfChrSystem] = 'ESL' AND [CIfChrServerType] = 'ESL'