SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF  EXISTS (SELECT 1 FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[s_Get_CommssionAdjustFutures_CheckExist]') AND TYPE IN (N'P', N'PC'))
	DROP PROCEDURE [dbo].[s_Get_CommssionAdjustFutures_CheckExist]
GO

/*-- =============================================
-- Author : Eddie
-- Create date : 2017/10/19 16:19
-- Last update : 2017/10/20 10:47
-- Description : CheckExist Procedure FOR CommssionAdjustFutures_CheckExist
-- ============================================= */
CREATE PROCEDURE [dbo].[s_Get_CommssionAdjustFutures_CheckExist]
    @liqDB nvarchar(100),
	@adjYear nvarchar(10),
    @adjMonth nvarchar(10),
    @clientCode nvarchar(20)
AS
BEGIN
    Set NOCOUNT ON;
    Set XACT_ABORT ON;

    BEGIN TRAN
	  DECLARE @sqlStr NVARCHAR(1000)

	  SET @sqlStr = 
	  'SELECT 
	      accno 
	   FROM dbo.MonthCommFAdj 
	   WHERE 
	          accno = ''' + @clientCode + ''' 
		  AND YEAR(adjDate) = ''' + @adjYear + '''
		  AND MONTH(adjDate) = ''' + @adjMonth + '''' + 
	    ' UNION 
	   SELECT
	      accno COLLATE DATABASE_DEFAULT 
	   FROM ' +@liqDB+ '.dbo.MonthcommF 
	   WHERE 
	          accno = ''' + @clientCode + ''' 
		  AND YEAR(mth) = ''' + @adjYear + '''
		  AND MONTH(mth) = ''' + @adjMonth + ''''
	  
	  EXEC (@sqlStr)
	   
    COMMIT TRANSACTION  
  
    IF(@@ERROR <> 0) 
	    BEGIN 
		ROLLBACK TRANSACTION
		SELECT 0
		END

END

GO