IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[s_Get_DailyIPOAdj_CheckExist]') AND TYPE IN (N'P', N'PC'))
	DROP PROCEDURE [dbo].[s_Get_DailyIPOAdj_CheckExist]
GO


/*-- =============================================
-- Author : Eddie
-- Create date : 2017/10/19 16:19
-- Last update : 2017/10/20 10:47
-- Description : Check Exist Procedure FOR Daily IPO Adjustment
-- ============================================= */
CREATE PROCEDURE [dbo].[s_Get_DailyIPOAdj_CheckExist]
	@clientCode nvarchar(20),
    @adjDate datetime
AS
BEGIN
    Set NOCOUNT ON;
    Set XACT_ABORT ON;

    BEGIN TRAN

	  SELECT 
	     accno 
	  FROM dbo.DailyIPOAdj 
	  WHERE 
	         accno = @clientCode 
		 AND adjDate = @adjDate

    COMMIT TRANSACTION  
    
    IF(@@ERROR <> 0)  
		ROLLBACK TRANSACTION
    
END

GO