SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF  EXISTS (SELECT 1 FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[s_Get_ImportData]') AND TYPE IN (N'P', N'PC'))
	DROP PROCEDURE [dbo].[s_Get_ImportData]
GO

/*-- =============================================
-- Author : DavidYang
-- Create date : 2018/01/09 10:19
-- Last update : 2018/01/09 17:19
-- Description : Get Import Data
-- ============================================= */
CREATE PROCEDURE [dbo].[s_Get_ImportData]
	@ESLLiqDB varchar(100)
AS
BEGIN
	
	--DECLARE @backupPath varchar(max)
	--DECLARE @backupEnabled varchar(max)
	--SELECT @backupPath = [misc_desc] FROM [misc_master] WHERE [misc_type] = 'ImportData' AND [misc_code] = 'backuppath'
	--SELECT @backupEnabled = [misc_desc] FROM [misc_master] WHERE [misc_type] = 'ImportData' AND [misc_code] = 'enabled'

		--,''' + @backupPath + ''' AS backuppath
		--,''' + @backupEnabled + ''' AS backupenabled
	EXEC ('
	SELECT 
		tradedate
		,procflag
	FROM ' + @ESLLiqDB + '.[dbo].[STCONTROL] WITH (NOLOCK)')
END
GO
--exec [s_Get_ImportData] 'esl_liq_dev'