IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[s_Del_DailyIPOAdj]') AND TYPE IN (N'P', N'PC'))
	DROP PROCEDURE [dbo].[s_Del_DailyIPOAdj]
GO



/*-- =============================================
-- Author : Eddie
-- Create date : 2017/10/19 16:19
-- Last update : 2017/10/20 10:47
-- Description : Delete Procedure FOR Daily IPO Adjustment
-- ============================================= */
CREATE PROCEDURE [dbo].[s_Del_DailyIPOAdj]
	@adjIPOID int
AS
BEGIN
    Set NOCOUNT ON;
    Set XACT_ABORT ON;

    BEGIN TRAN

	  DELETE 
	  FROM DailyIPOAdj 
	  WHERE 
	     adjIPOID = @adjIPOID
	  
	  SELECT 1

    COMMIT TRANSACTION  
    
    IF(@@ERROR <> 0)
	  BEGIN
		ROLLBACK TRANSACTION
		SELECT 0	  
	  END  

    
END

GO