SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF  EXISTS (SELECT 1 FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[s_Ins_ImportDataHistory]') AND TYPE IN (N'P', N'PC'))
	DROP PROCEDURE [dbo].[s_Ins_ImportDataHistory]
GO

/*-- =============================================
-- Author : DavidYang
-- Create date : 2018/01/12 10:19
-- Last update : 2018/01/12 17:19
-- Description : Insert ImportData History Data
-- ============================================= */
CREATE PROCEDURE [dbo].[s_Ins_ImportDataHistory]
	@group varchar(100),
	@user varchar(100),
	@currentStep int,
	@totleStep int,
	@message varchar(max)
AS
BEGIN
	-- 影响行数
	DECLARE @rowcount int
	SET @rowcount = @@ROWCOUNT
	-- 错误信息
	DECLARE @err_msg AS NVARCHAR(MAX);
	IF @@ERROR <> 0
		SET @err_msg = CONVERT(VARCHAR(100), @@ERROR) + '-' + ERROR_MESSAGE();
	ELSE
		SET @err_msg = ''

	INSERT INTO import_data_history(
       [group]
      ,[current_step]
      ,[totle_step]
      ,[message]
      ,[create_user]
      ,[create_date]
      ,[effect_count]
	  ,[error]
	)
	VALUES(
		@group,
		@currentStep,
		@totleStep,
		@message,
		@user,
		getdate(),
		@rowcount,
		@err_msg
	)
	--print @message+','+ convert(varchar(20),@rowcount)+','+@err_msg
END
GO
