USE [ESL]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[s_client_master]
	@G2BSDB nvarchar(100),
	@G2BFDB nvarchar(100)
AS
BEGIN
	EXEC ('
	SELECT
		v.accno,
		v.nature_s,
		v.gender_s,
		v.name_1,
		v.name_1_c,
		v.aeno,
		v.br_id,
		v.phone_1,
		v.phone_2,
		v.phone_3,
		v.fax,
		v.email,
		v.addr_1,
		v.addr_2,
		v.addr_3,
		v.addr_4,
		v.bank_code_1,
		v.date_open,
		v.credit_lmt,
		v.pstat,
		v.suspend_field,
		v.suspend_code,
		v.date_close,
		v.mail_status,
		v.category,
		v.relationship,
		v.relationstaff,
		v.relationae,
		v.int_code,
		v.nd_addr_1,
		v.nd_addr_2,
		v.nd_addr_3,
		v.nd_addr_4,
		v.Last_Tran_Date,
		a.name as ae_name,
		a.email as ae_email,
		b.name as branch_name,
		CASE
		WHEN SUBSTRING(v.accno,1,3) =''500'' THEN ''CIES''
		ELSE ''Securities''   /*v.client_type*/
		END AS client_type,
		v.aid,
		v.notes
	FROM ' + @G2BSDB + '.dbo.view_it_client_all v 
	inner join
		' + @G2BSDB + '.dbo.ae_master a
	on v.aeno = a.aeno
	inner join
		' + @G2BSDB + '.dbo.branch_master b
	on a.bhid = b.bhid
	union
	SELECT
		v.accno,
		v.nature_s,
		v.gender_s,
		v.name_1,
		v.name_1_c,
		v.aeno,
		v.br_id,
		v.phone_1,
		v.phone_2,
		v.phone_3,
		v.fax,
		v.email,
		v.addr_1,
		v.addr_2,
		v.addr_3,
		v.addr_4,
		v.bank_code_1,
		v.date_open,
		v.credit_lmt,
		v.pstat,
		v.suspend_field,
		v.suspend_code,
		v.date_close,
		v.mail_status,
		v.category,
		v.relationship,
		v.relationstaff,
		v.relationae,
		v.int_code,
		v.nd_addr_1,
		v.nd_addr_2,
		v.nd_addr_3,
		v.nd_addr_4,
		v.Last_Tran_Date,
		a.name as ae_name,
		a.email as ae_email,
		b.name as branch_name,
		CASE
		WHEN SUBSTRING(v.accno,1,3) =''500'' THEN ''CIES''
		ELSE ''Futures''		/*v.client_type*/
		END AS client_type,
		v.aid,
		v.notes
	FROM ' + @G2BFDB + '.dbo.view_it_client_all v
	inner join
		' + @G2BFDB + '.dbo.ae_master a
	on v.aeno = a.aeno
	inner join
		' + @G2BFDB + '.dbo.branch_master b
	on a.bhid = b.bhid')
END

GO
