USE [ESL]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER PROCEDURE [dbo].[s_Get_G2BFTradeDate]
	@G2BFDB nvarchar(100)
AS
BEGIN

	EXEC ('SELECT TradeDate AS trade_date FROM ' +  @G2BFDB + '.dbo.system_parameter WITH(NOLOCK)')
END

GO
