USE [ESL]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER PROCEDURE [dbo].[s_client_master_2]
	@G2BSDB nvarchar(100),
	@G2BFDB nvarchar(100)
AS
BEGIN
	EXEC('
    SELECT
        t1.accno,
        t1.nature_s,
        t1.client_type,
        t1.name_1,
        t1.name_1_c,
        t1.aeno,
        t1.br_id,
        t1.date_open,
        t1.sus_date,
        t1.suspend_field,
        t1.suspend_code,
        t1.date_close,
        t1.external_accno,
        t1.date_renew,
        t1.dob,
        t1.external_credit_lmt,
        t1.memo,
        t1.CBT,
        t1.CJCE,
        t1.CME,
        t1.CMX,
        t1.HKEX,
        t1.LME,
        t1.NYM,
        t1.NYB,
        t1.TGE,
        t1.TOCOM,
        t1.aid,
        t1.SEHK,
        t1.SZEN,
        t1.TF,
        t1.CBUS,
        t1.CBHK,
        t1.SG,
        t1.SSE,
        t1.BDHK,
        t1.FUND,
        t1.US,
        t1.BDCN,
        t1.MAMK, 
        t1.ae_name,
        t1.ae_email,
        t1.branch_name,
        t2.ccd_ref,
        t2.market,
        t2.acc_status,
        t2.is_dormant,
        t2.br_id_2,
        t2.auth_remark,
        t2.joint_relationship,
        t2.joint_name,
        t2.joint_br_id,
        t2.joint_br_id_2,
        t2.joint_gender_s,
        t2.joint_dob,
        t2.nationality_1,
        t2.nationality_2,
        t2.occupation_1,
        t2.occupation_1_other,
        t2.occupation_2,
        t2.occupation_2_other,
        t2.place_of_incorp,
        t2.business_nature,
        t2.correspondence,
        t2.country_code,
        t2.staff_acc,
        t2.related_margin_acc,
        t2.other_licensed_corp,
        t2.related_acc_remark,
        t2.aiml_risk,
        t2.high_risk_category,
        t2.high_risk_category_other,
        t2.high_risk_desc,
        t2.fund_source,
        t2.fund_source_other,
        t2.review_date,
        t2.gross_income,
        t2.net_asset_value,
        t2.invest_objective,
        t2.invest_experience,
        t2.invest_time_frame,
        t2.sum_to_invest,
        t2.professional_investor,
        t2.risk_tolerance,
        t2.RPQ_complete_date,
        t2.know_derivative,
        t2.FATCA_acc_type,
        t2.FATCA_GIIN,
        t2.w8_form_signed,
        t2.w8_form_date,
        t2.us_passport_holder,
        t2.us_citizen,
        t2.us_born,
        t2.us_address,
        t2.us_phone,
        t2.us_fund_transfer,
        t2.us_auth_person,
        t2.us_review_date,
        t2.non_face_to_face,
        t2.us_tin,
        t2.w8_form_expiry_date,
        t2.FATCA_Remarks
    FROM    
    ( 
      SELECT
        t1_1.accno,
        t1_1.nature_s,
        t1_1.client_type,
        t1_1.name_1,
        t1_1.name_1_c,
        t1_1.aeno,
        t1_1.br_id,
        t1_1.date_open,
        t1_1.sus_date,
        t1_1.suspend_field,
        t1_1.suspend_code,
        t1_1.date_close,
        t1_1.external_accno,
        t1_1.date_renew,
        t1_1.dob,
        t1_1.external_credit_lmt,
        t1_1.memo,
        t1_1.CBT,
        t1_1.CJCE,
        t1_1.CME,
        t1_1.CMX,
        t1_1.HKEX,
        t1_1.LME,
        t1_1.NYM,
        t1_1.NYB,
        t1_1.TGE,
        t1_1.TOCOM,
        t1_1.aid,
        t1_1.SEHK,
        t1_1.SZEN,
        t1_1.TF,
        t1_1.CBUS,
        t1_1.CBHK,
        t1_1.SG,
        t1_1.SSE,
        t1_1.BDHK,
        t1_1.FUND,
        t1_1.US,
        t1_1.BDCN,
        t1_1.MAMK,
        a.name AS ae_name,
        a.email AS ae_email,
        b.name AS branch_name
      FROM      
      ( 
        SELECT   
            t1_1_1.accno,
            t1_1_1.nature_s,
            t1_1_1.client_type,
            t1_1_1.name_1,
            t1_1_1.name_1_c,
            t1_1_1.aeno,
            t1_1_1.br_id,
            t1_1_1.date_open,
            t1_1_1.sus_date,
            t1_1_1.suspend_field,
            t1_1_1.suspend_code,
            t1_1_1.date_close,
            t1_1_1.external_accno,
            t1_1_1.date_renew,
            t1_1_1.dob,
            t1_1_1.external_credit_lmt,
            t1_1_1.memo,
            t1_1_1.CBT,
            t1_1_1.CJCE,
            t1_1_1.CME,
            t1_1_1.CMX,
            t1_1_1.HKEX,
            t1_1_1.LME,
            t1_1_1.NYM,
            t1_1_1.NYB,
            t1_1_1.TGE,
            t1_1_1.TOCOM,
            t1_1_1.aid,
            t1_1_1.SEHK,
            t1_1_1.SZEN,
            t1_1_1.TF,
            t1_1_1.CBUS,
            t1_1_1.CBHK,
            t1_1_1.SG,
            t1_1_1.SSE,
            t1_1_1.BDHK,
            t1_1_1.FUND,
            t1_1_1.US,
            t1_1_1.BDCN,
            t1_1_1.MAMK
          FROM
            (
              SELECT
                v.accno,
                v.nature_s,
                CASE 
                    WHEN SUBSTRING(v.accno, 1,3) = ''500'' THEN ''CIES''
                    ELSE ''Securities''
                END AS client_type,
                v.name_1,
                v.name_1_c,
                v.aeno,
                v.br_id,
                v.date_open,
                v.sus_date,
                v.suspend_field,
                v.suspend_code,
                v.date_close,
                v.external_accno,
                v.date_renew,
                v.dob,
                v.external_credit_lmt,
				CAST(v.memo AS NVARCHAR(3000)) AS memo,
                ''No'' AS CBT,
                ''No'' AS CJCE,
                ''No'' AS CME,
                ''No'' AS CMX,
                ''No'' AS HKEX,
                ''No'' AS LME,
                ''No'' AS NYM,
                ''No'' AS NYB,
                ''No'' AS TGE,
                ''No'' AS TOCOM,
                v.aid,
                v.SEHK,
                v.SZEN,
                v.TF,
                v.CBUS,
                v.CBHK,
                v.SG,
                v.SSE,
                v.BDHK,
                v.FUND,
                v.US,
                v.BDCN,
                v.MAMK
			  FROM ' + @G2BSDB + '.dbo.view_it_client_all v
            ) t1_1_1
          GROUP BY  
            t1_1_1.accno,
            t1_1_1.nature_s,
            t1_1_1.client_type,
            t1_1_1.name_1,
            t1_1_1.name_1_c,
            t1_1_1.aeno,
            t1_1_1.br_id,
            t1_1_1.date_open,
            t1_1_1.sus_date,
            t1_1_1.suspend_field,
            t1_1_1.suspend_code,
            t1_1_1.date_close,
            t1_1_1.external_accno,
            t1_1_1.date_renew,
            t1_1_1.dob,
            t1_1_1.external_credit_lmt,
            t1_1_1.memo,
            t1_1_1.CBT,
            t1_1_1.CJCE,
            t1_1_1.CME,
            t1_1_1.CMX,
            t1_1_1.HKEX,
            t1_1_1.LME,
            t1_1_1.NYM,
            t1_1_1.NYB,
            t1_1_1.TGE,
            t1_1_1.TOCOM,
            t1_1_1.aid,
            t1_1_1.SEHK,
            t1_1_1.SZEN,
            t1_1_1.TF,
            t1_1_1.CBUS,
            t1_1_1.CBHK,
            t1_1_1.SG,
            t1_1_1.SSE,
            t1_1_1.BDHK,
            t1_1_1.FUND,
            t1_1_1.US,
            t1_1_1.BDCN,
            t1_1_1.MAMK
        ) t1_1
        INNER JOIN ' + @G2BSDB + '.dbo.ae_master a 
        ON t1_1.aeno = a.aeno
        INNER JOIN ' + @G2BSDB + '.dbo.branch_master b 
        ON a.bhid = b.bhid
    ) t1
    LEFT JOIN 
    ( 
        SELECT  
            cm.acc_no,
            cm.client_type,
            cm.ccd_ref,
            cm.market,
            cm.acc_status,
            cm.is_dormant,
            cm.br_id_2,
            cm.auth_remark,
            cm.joint_relationship,
            cm.joint_name,
            cm.joint_br_id,
            cm.joint_br_id_2,
            cm.joint_gender_s,
            cm.joint_dob,
            cm.nationality_1,
            cm.nationality_2,
            cm.occupation_1,
            cm.occupation_1_other,
            cm.occupation_2,
            cm.occupation_2_other,
            cm.place_of_incorp,
            cm.business_nature,
            cm.correspondence,
            cm.country_code,
            cm.staff_acc,
            cm.related_margin_acc,
            cm.other_licensed_corp,
            cm.related_acc_remark,
            cm.aiml_risk,
            cm.high_risk_category,
            cm.high_risk_category_other,
            cm.high_risk_desc,
            cm.fund_source,
            cm.fund_source_other,
            cm.review_date,
            cm.gross_income,
            cm.net_asset_value,
            cm.invest_objective,
            cm.invest_experience,
            cm.invest_time_frame,
            cm.sum_to_invest,
            cm.professional_investor,
            cm.risk_tolerance,
            cm.RPQ_complete_date,
            cm.know_derivative,
            cm.FATCA_acc_type,
            cm.FATCA_GIIN,
            cm.w8_form_signed,
            cm.w8_form_date,
            cm.us_passport_holder,
            cm.us_citizen,
            cm.us_born,
            cm.us_address,
            cm.us_phone,
            cm.us_fund_transfer,
            cm.us_auth_person,
            cm.us_review_date,
            cm.non_face_to_face,
            cm.us_tin,
            cm.w8_form_expiry_date,
            cm.FATCA_Remarks
         FROM client_master cm
        ) t2 
    ON t2.acc_no = t1.accno COLLATE DATABASE_DEFAULT
    AND t2.client_type = t1.client_type
    UNION
    SELECT  
        t1.accno,
        t1.nature_s,
        t1.client_type,
        t1.name_1,
        t1.name_1_c,
        t1.aeno,
        t1.br_id,
        t1.date_open,
        t1.sus_date,
        t1.suspend_field,
        t1.suspend_code,
        t1.date_close,
        t1.external_accno,
        t1.date_renew,
        t1.dob,
        t1.external_credit_lmt,
        t1.memo,
        t1.CBT,
        t1.CJCE,
        t1.CME,
        t1.CMX,
        t1.HKEX,
        t1.LME,
        t1.NYM,
        t1.NYB,
        t1.TGE,
        t1.TOCOM,
        t1.aid,
        t1.SEHK,
        t1.SZEN,
        t1.TF,
        t1.CBUS,
        t1.CBHK,
        t1.SG,
        t1.SSE,
        t1.BDHK,
        t1.FUND,
        t1.US,
        t1.BDCN,
        t1.MAMK,
        t1.ae_name,
        t1.ae_email,
        t1.branch_name,
        t2.ccd_ref,
        t2.market,
        t2.acc_status,
        t2.is_dormant,
        t2.br_id_2,
        t2.auth_remark,
        t2.joint_relationship,
        t2.joint_name,
        t2.joint_br_id,
        t2.joint_br_id_2,
        t2.joint_gender_s,
        t2.joint_dob,
        t2.nationality_1,
        t2.nationality_2,
        t2.occupation_1,
        t2.occupation_1_other,
        t2.occupation_2,
        t2.occupation_2_other,
        t2.place_of_incorp,
        t2.business_nature,
        t2.correspondence,
        t2.country_code,
        t2.staff_acc,
        t2.related_margin_acc,
        t2.other_licensed_corp,
        t2.related_acc_remark,
        t2.aiml_risk,
        t2.high_risk_category,
        t2.high_risk_category_other,
        t2.high_risk_desc,
        t2.fund_source,
        t2.fund_source_other,
        t2.review_date,
        t2.gross_income,
        t2.net_asset_value,
        t2.invest_objective,
        t2.invest_experience,
        t2.invest_time_frame,
        t2.sum_to_invest,
        t2.professional_investor,
        t2.risk_tolerance,
        t2.RPQ_complete_date,
        t2.know_derivative,
        t2.FATCA_acc_type,
        t2.FATCA_GIIN,
        t2.w8_form_signed,
        t2.w8_form_date,
        t2.us_passport_holder,
        t2.us_citizen,
        t2.us_born,
        t2.us_address,
        t2.us_phone,
        t2.us_fund_transfer,
        t2.us_auth_person,
        t2.us_review_date,
        t2.non_face_to_face,
        t2.us_tin,
        t2.w8_form_expiry_date,
        t2.FATCA_Remarks
    FROM    
        ( 
          SELECT
            t1_1.accno,
            t1_1.nature_s,
            t1_1.client_type,
            t1_1.name_1,
            t1_1.name_1_c,
            t1_1.aeno,
            t1_1.br_id,
            t1_1.date_open,
            t1_1.sus_date,
            t1_1.suspend_field,
            t1_1.suspend_code,
            t1_1.date_close,
            t1_1.external_accno,
            t1_1.date_renew,
            t1_1.dob,
            t1_1.external_credit_lmt,
            t1_1.memo,
            t1_1.CBT,
            t1_1.CJCE,
            t1_1.CME,
            t1_1.CMX,
            t1_1.HKEX,
            t1_1.LME,
            t1_1.NYM,
            t1_1.NYB,
            t1_1.TGE,
            t1_1.TOCOM,
            t1_1.aid,
            t1_1.SEHK,
            t1_1.SZEN,
            t1_1.TF,
            t1_1.CBUS,
            t1_1.CBHK,
            t1_1.SG,
            t1_1.SSE,
            t1_1.BDHK,
            t1_1.FUND,
            t1_1.US,
            t1_1.BDCN,
            t1_1.MAMK,
            a.name AS ae_name,
            a.email AS ae_email,
            b.name AS branch_name
        FROM      
        ( 
            SELECT
                t1_1_1.accno,
                t1_1_1.nature_s,
                t1_1_1.client_type,
                t1_1_1.name_1,
                t1_1_1.name_1_c,
                t1_1_1.aeno,
                t1_1_1.br_id,
                t1_1_1.date_open,
                t1_1_1.sus_date,
                t1_1_1.suspend_field,
                t1_1_1.suspend_code,
                t1_1_1.date_close,
                t1_1_1.external_accno,
                t1_1_1.date_renew,
                t1_1_1.dob,
                t1_1_1.external_credit_lmt,
                t1_1_1.memo,
                t1_1_1.CBT,
                t1_1_1.CJCE,
                t1_1_1.CME,
                t1_1_1.CMX,
                t1_1_1.HKEX,
                t1_1_1.LME,
                t1_1_1.NYM,
                t1_1_1.NYB,
                t1_1_1.TGE,
                t1_1_1.TOCOM,
                t1_1_1.aid,
                t1_1_1.SEHK,
                t1_1_1.SZEN,
                t1_1_1.TF,
                t1_1_1.CBUS,
                t1_1_1.CBHK,
                t1_1_1.SG,
                t1_1_1.SSE,
                t1_1_1.BDHK,
                t1_1_1.FUND,
                t1_1_1.US,
                t1_1_1.BDCN,
                t1_1_1.MAMK
              FROM
              ( 
                SELECT
                    v.accno,
                    v.nature_s,
                    CASE 
                        WHEN SUBSTRING(v.accno, 1,3) = ''500'' THEN ''CIES''
                        ELSE ''Futures''
                    END AS client_type,
                    v.name_1,
                    v.name_1_c,
                    v.aeno,
                    v.br_id,
                    v.date_open,
                    v.sus_date,
                    v.suspend_field,
                    v.suspend_code,
                    v.date_close,
                    '''' AS external_accno,
                    '''' AS date_renew,
                    v.dob,
                    0 AS external_credit_lmt,
					CAST(v.memo AS NVARCHAR(3000)) AS memo,
                    v.CBT,
                    v.CJCE,
                    v.CME,
                    v.CMX,
                    v.HKEX,
                    v.LME,
                    v.NYM,
                    v.NYB,
                    v.TGE,
                    v.TOCOM,
                    v.aid,
                    ''No'' AS SEHK,
                    ''No'' AS SZEN,
                    ''No'' AS TF,
                    ''No'' AS CBUS,
                    ''No'' AS CBHK,
                    ''No'' AS SG,
                    ''No'' AS SSE,
                    ''No'' AS BDHK,
                    ''No'' AS FUND,
                    ''No'' AS US,
                    ''No'' AS BDCN,
                    ''No'' AS MAMK
                  FROM ' + @G2BFDB + '.dbo.view_it_client_all v
                ) t1_1_1
              GROUP BY  
                t1_1_1.accno,
                t1_1_1.nature_s,
                t1_1_1.client_type,
                t1_1_1.name_1,
                t1_1_1.name_1_c,
                t1_1_1.aeno,
                t1_1_1.br_id,
                t1_1_1.date_open,
                t1_1_1.sus_date,
                t1_1_1.suspend_field,
                t1_1_1.suspend_code,
                t1_1_1.date_close,
                t1_1_1.external_accno,
                t1_1_1.date_renew,
                t1_1_1.dob,
                t1_1_1.external_credit_lmt,
                t1_1_1.memo,
                t1_1_1.CBT,
                t1_1_1.CJCE,
                t1_1_1.CME,
                t1_1_1.CMX,
                t1_1_1.HKEX,
                t1_1_1.LME,
                t1_1_1.NYM,
                t1_1_1.NYB,
                t1_1_1.TGE,
                t1_1_1.TOCOM,
                t1_1_1.aid,
                t1_1_1.SEHK,
                t1_1_1.SZEN,
                t1_1_1.TF,
                t1_1_1.CBUS,
                t1_1_1.CBHK,
                t1_1_1.SG,
                t1_1_1.SSE,
                t1_1_1.BDHK,
                t1_1_1.FUND,
                t1_1_1.US,
                t1_1_1.BDCN,
                t1_1_1.MAMK
            ) t1_1
            INNER JOIN ' + @G2BFDB + '.dbo.ae_master a 
            ON t1_1.aeno = a.aeno
            INNER JOIN ' + @G2BFDB + '.dbo.branch_master b 
            ON a.bhid = b.bhid
        ) t1
    LEFT JOIN 
    (
     SELECT
            cm.acc_no,
            cm.client_type,
            cm.ccd_ref,
            cm.market,
            cm.acc_status,
            cm.is_dormant,
            cm.br_id_2,
            cm.auth_remark,
            cm.joint_relationship,
            cm.joint_name,
            cm.joint_br_id,
            cm.joint_br_id_2,
            cm.joint_gender_s,
            cm.joint_dob,
            cm.nationality_1,
            cm.nationality_2,
            cm.occupation_1,
            cm.occupation_1_other,
            cm.occupation_2,
            cm.occupation_2_other,
            cm.place_of_incorp,
            cm.business_nature,
            cm.correspondence,
            cm.country_code,
            cm.staff_acc,
            cm.related_margin_acc,
            cm.other_licensed_corp,
            cm.related_acc_remark,
            cm.aiml_risk,
            cm.high_risk_category,
            cm.high_risk_category_other,
            cm.high_risk_desc,
            cm.fund_source,
            cm.fund_source_other,
            cm.review_date,
            cm.gross_income,
            cm.net_asset_value,
            cm.invest_objective,
            cm.invest_experience,
            cm.invest_time_frame,
            cm.sum_to_invest,
            cm.professional_investor,
            cm.risk_tolerance,
            cm.RPQ_complete_date,
            cm.know_derivative,
            cm.FATCA_acc_type,
            cm.FATCA_GIIN,
            cm.w8_form_signed,
            cm.w8_form_date,
            cm.us_passport_holder,
            cm.us_citizen,
            cm.us_born,
            cm.us_address,
            cm.us_phone,
            cm.us_fund_transfer,
            cm.us_auth_person,
            cm.us_review_date,
            cm.non_face_to_face,
            cm.us_tin,
            cm.w8_form_expiry_date,
            cm.FATCA_Remarks
          FROM client_master cm
        ) t2 
    ON t2.acc_no = t1.accno COLLATE DATABASE_DEFAULT
    AND t2.client_type = t1.client_type')
END

GO
