SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[s_Get_CommssionAdjustStock_CheckClientCode]') AND TYPE IN (N'P', N'PC'))
	DROP PROCEDURE [dbo].[s_Get_CommssionAdjustStock_CheckClientCode]
GO



/*-- =============================================
-- Author : Eddie
-- Create date : 2017/10/19 16:19
-- Last update : 2017/10/20 10:47
-- Description : CheckExist Procedure FOR CommssionAdjustStock_CheckCodeExist
-- ============================================= */
CREATE PROCEDURE [dbo].[s_Get_CommssionAdjustStock_CheckClientCode]
	@g2sbDB nvarchar(100),
    @clientCode nvarchar(20)
AS
BEGIN
    Set NOCOUNT ON;
    Set XACT_ABORT ON;

    BEGIN TRAN
	  DECLARE @sqlStr nvarchar(1000)
	  SET @sqlStr = 'SELECT accno 
	                 FROM ' +@g2sbDB+ '.dbo.client_master AS clm 
					 LEFT OUTER JOIN '+@g2sbDB+ '.dbo.client_master_s AS clms 
					 ON clms.aid = clm.aid 
					 WHERE 
					    accno=''' + @clientCode + '''' 
	  
	  EXEC (@sqlStr)

    COMMIT TRANSACTION  
  
    IF(@@ERROR <> 0) 
	    BEGIN 
		ROLLBACK TRANSACTION
		SELECT 0
	END

END
GO