SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[s_Upd_CommssionAdjustStock]') AND TYPE IN (N'P', N'PC'))
	DROP PROCEDURE [dbo].[s_Upd_CommssionAdjustStock]
GO



/*-- =============================================
-- Author : Eddie
-- Create date : 2017/11/03 16:19
-- Last update : 2017/11/03 10:47
-- Description : Upate Procedure FOR CommssionAdjustStock
-- ============================================= */
CREATE PROCEDURE [dbo].[s_Upd_CommssionAdjustStock]
	@g2sbDB nvarchar(100),
    @liqDB nvarchar(100),
	@adjYear nvarchar(10),
    @adjMonth nvarchar(10),
    @clientCode nvarchar(20),
	@adjustment decimal(18,2),
    @ipo decimal(18,2)
AS
BEGIN
    Set NOCOUNT ON;
    Set XACT_ABORT ON;

    BEGIN TRAN

	  DELETE 
	  FROM MonthCommAdj 
	  WHERE 
	         accno = @clientCode 
		 AND YEAR(adjDate) = @adjYear 
		 AND MONTH(adjDate) = @adjMonth

	  INSERT INTO MonthCommAdj
	     (accno, 
		  adjDate, 
		  adj) 
	  VALUES 
	     (@clientCode, 
		  @adjYear+@adjMonth+'01', 
		  @adjustment)

	  DECLARE @sqlStr NVARCHAR(1000)
	  SET @sqlStr = 'SELECT accno 
	                 FROM ' + @liqDB + '.dbo.MonthComm 
					 WHERE 
					        accno='''+ @clientCode + '''
						AND YEAR(mth) = ''' + @adjYear + ''' 
						AND MONTH(mth) = ''' + @adjMonth + ''''
	  
	  CREATE TABLE #comm(accno NVARCHAR(30))
	  INSERT INTO #comm (accno) EXEC (@sqlStr)
	 
	  IF EXISTS (SELECT accno FROM #comm)
		 BEGIN
			  EXEC ('UPDATE ' + @liqDB + '.dbo.MonthComm 
			         SET 
					    ipo = ''' + @ipo + ''' 
					 WHERE 
					        accno = '''+ @clientCode + ''' 
						AND YEAR(mth) = ''' + @adjYear + ''' 
						AND MONTH(mth) = ''' + @adjMonth + '''')
	     END
	  ELSE
	     BEGIN

			  SET @sqlStr = 'SELECT c.client_type 
			                 FROM 
							   (SELECT 
							       clm.accno, 
								   CASE clms.type 
								      WHEN ''2'' THEN ''Cash'' 
									  WHEN ''1'' THEN ''Margin'' 
									  END AS client_type 
							    FROM ' + @g2sbDB + '.dbo.client_master AS clm 
								LEFT OUTER JOIN ' + @g2sbDB + '.dbo.client_master_s AS clms 
								ON clms.aid = clm.aid) c 
								WHERE 
								   c.accno= ''' + @clientCode + ''''
			  CREATE TABLE #client(client_type NVARCHAR(30))
		  
			  INSERT INTO #client (client_type) EXEC (@sqlStr)
		  
			  DECLARE @strClientType NVARCHAR(20)
			  DECLARE @tempDate DATETIME
			  DECLARE @tempStr NVARCHAR(20)
			  SET @strClientType = ''

			  IF EXISTS (SELECT client_type FROM #client)
				 BEGIN
				   SELECT top 1 @strClientType = client_type  FROM #client
				 END

			  SELECT @tempDate = DATEADD(
			                        mm, 
			                        DATEDIFF(
									  mm, 
									  0, 
									  cast(@adjYear + '/' + @adjMonth + '/' + '01' AS DATETIME))+1,
									0)
			  SELECT @tempDate = DATEADD(
			                        dd, 
									DATEDIFF(dd, 0, @tempDate)-1,
									0)
			  SELECT @tempStr = CONVERT(varchar(16), @tempDate, 111)

			  SET @sqlStr = 'INSERT INTO ' + @liqDB + '.dbo.MonthComm
			                    (accno, 
								 mth, 
								 comm, 
								 client_type, 
								 ipo, 
								 adj) 
							 VALUES 
							     ('''+@clientCode+ ''',
								  ''' +@tempStr+ ''', 
								  0, 
								  ''' +@strClientType + ''', 
								  ' +cast(@ipo AS NVARCHAR(20))+ ', 
								  0)'
			  EXEC (@sqlStr)			  
          END


		  IF OBJECT_ID('DBO.#comm') IS NOT NULL
			BEGIN
			   DROP TABLE #comm
			END

		  IF OBJECT_ID('DBO.#client') IS NOT NULL
			BEGIN
			   DROP TABLE #client
			END

    COMMIT TRANSACTION  
	SELECT 1
  
    IF(@@ERROR <> 0) 
	    BEGIN 
		ROLLBACK TRANSACTION
		SELECT 0
		END

END
GO