SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[s_Ins_ChequePrinting]') AND TYPE IN (N'P', N'PC'))
	DROP PROCEDURE [dbo].[s_Ins_ChequePrinting]
GO

/*-- =============================================
-- Author : DavidYang
-- Create date : 2017/10/19 16:19
-- Last update : 2017/11/21 15:00
-- Description : Add Procedure FOR ChequePrinting
-- ============================================= */
CREATE PROCEDURE [dbo].[s_Ins_ChequePrinting]
	@sequence		int,
	@client_code	varchar(8),
	@txn_date		datetime,
	@amount			decimal(18,2),
	@name			nvarchar(120),
	@updateby		varchar(10),
	@entrydate		datetime
AS
BEGIN

	IF EXISTS (
		SELECT 1 
		FROM client_cheque 
		WHERE
				sequence	=	@sequence
			AND txn_date		=	@txn_date)
    BEGIN
		RAISERROR('Existing Cheque sequence, txn date!', 16, 1)
        RETURN @@ERROR
    END
	
	DECLARE @maxSequence float
	SELECT 
		@maxSequence = max(sequence)
	FROM client_cheque
	WHERE txn_date = @txn_date

	IF @maxSequence > 0
	BEGIN
		SET @maxSequence = @maxSequence + 1
	END
	ELSE
	BEGIN
		SET @maxSequence = 1
	END
	
	-- Insert AccountEntity
    INSERT INTO client_cheque
    (
		sequence	, 
		client_code,
		txn_date	,
		amount		,
		name		, 
		create_user	,
		create_date	,
		last_upd_user,
		last_upd_date	
	)
    VALUES 
	(
		@maxSequence	,
		@client_code,
		@txn_date	,
		@amount		,
		@name		,
		@updateby	,
		@entrydate	,
		@updateby	,
		@entrydate	
    )
    SELECT @maxSequence AS ID
END
GO