SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[s_Rpt_ChequePrinting_SequenceNos]') AND TYPE IN (N'P', N'PC'))
	DROP PROCEDURE [dbo].[s_Rpt_ChequePrinting_SequenceNos]
GO

/*-- =============================================
-- Author : DoraemonYu
-- Create date : 2017/11/01 10:30
-- Last update : 2017/11/01 10:30
-- Description : Add Procedure FOR Get "Sequence No" list of ChequePrinting
-- ============================================= */
CREATE PROCEDURE [dbo].[s_Rpt_ChequePrinting_SequenceNos]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	
	SELECT DISTINCT [sequence]
	FROM [dbo].[client_cheque]
	ORDER BY [sequence]
END
GO