SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[s_Rpt_ChequePrinting_Listing]') AND TYPE IN (N'P', N'PC'))
	DROP PROCEDURE [dbo].[s_Rpt_ChequePrinting_Listing]
GO

/*-- =============================================
-- Author : DoraemonYu
-- Create date : 2017/11/02 14:30
-- Last update : 2017/11/02 14:30
-- Description : Add Procedure FOR ChequePrinting-Print-Listing
-- ============================================= */
Create PROCEDURE [dbo].[s_Rpt_ChequePrinting_Listing]
	@Txn_Date as datetime=NULL,
	@OpgPrtSeq as tinyint=1,					-- Print Sequence		1=SequenceNo	2=ClientCode
	@OpgPrtRec as tinyint=1,					-- Record Range			1=AllRecords	2=ClientCode	3=SequenceNo
	@ClientCodeFrom as varchar(8) = NULL,
	@ClientCodeTo as varchar(8) = NULL,
	@SequenceNoFrom as int = NULL,
	@SequenceNoTo as int = NULL
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	

	--Modify Default value
	IF @Txn_Date is NULL SET @Txn_Date = getdate();


	--Main logic
	IF @OpgPrtRec = 1
		BEGIN
			IF @OpgPrtSeq = 1
				SELECT [sequence],
					   [client_code],
					   [txn_date],
					   [amount],
					   [name]
				FROM [dbo].[client_cheque]
				WHERE Txn_Date =@Txn_Date
				ORDER BY [Sequence]
			ELSE
				SELECT [sequence],
				   [client_code],
				   [txn_date],
				   [amount],
				   [name]
			FROM [dbo].[client_cheque]
			WHERE Txn_Date =@Txn_Date
			ORDER BY [client_code]
		END

	ELSE IF @OpgPrtRec = 2
		BEGIN
			IF @OpgPrtSeq = 1
				SELECT [sequence],
					   [client_code],
					   [txn_date],
					   [amount],
					   [name]
				FROM [dbo].[client_cheque]
				WHERE Txn_Date =@Txn_Date
				  AND (client_code >= @ClientCodeFrom
					   AND client_code <= @ClientCodeTo)
				ORDER BY [Sequence]
			ELSE
				SELECT [sequence],
					   [client_code],
					   [txn_date],
					   [amount],
					   [name]
				FROM [dbo].[client_cheque]
				WHERE Txn_Date =@Txn_Date
				  AND (client_code >= @ClientCodeFrom
					   AND client_code <= @ClientCodeTo)
				ORDER BY [client_code]
		END

	ELSE IF @OpgPrtRec = 3
		BEGIN
			IF @OpgPrtSeq = 1
				SELECT [sequence],
					   [client_code],
					   [txn_date],
					   [amount],
					   [name]
				FROM [dbo].[client_cheque]
				WHERE Txn_Date =@Txn_Date
				  AND ([Sequence] >= @SequenceNoFrom
					   AND [Sequence] <= @SequenceNoTo)
				ORDER BY [Sequence]
			ELSE
				SELECT [sequence],
					   [client_code],
					   [txn_date],
					   [amount],
					   [name]
				FROM [dbo].[client_cheque]
				WHERE Txn_Date =@Txn_Date
				  AND ([Sequence] >= @SequenceNoFrom
					   AND [Sequence] <= @SequenceNoTo)
				ORDER BY [client_code]
		END
		        
END
GO