SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[s_Get_FutureProductMaster_UpdExist]') AND TYPE IN (N'P', N'PC'))
	DROP PROCEDURE [dbo].[s_Get_FutureProductMaster_UpdExist]
GO

/*-- =============================================
-- Author : DavidYang
-- Create date : 2017/10/19 16:19
-- Last update : 2017/10/20 10:47
-- Description : CheckUpadteExist Procedure FOR FutureProductMaster
-- ============================================= */
CREATE PROCEDURE [dbo].[s_Get_FutureProductMaster_UpdExist]
	@ID int,
	@counterParty nvarchar(10),
    @productCode nvarchar(30),
    @IsOption bit
AS
BEGIN

	SELECT 1 
	FROM FutureProductMaster 
	WHERE
			CounterParty	=	@CounterParty
        AND ProductCode		=	@ProductCode
        AND IsOption		=	@IsOption
        AND ID				<>	@ID

END
GO