SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[s_Get_FutureProductMaster]') AND TYPE IN (N'P', N'PC'))
	DROP PROCEDURE [dbo].[s_Get_FutureProductMaster]
GO

/*-- =============================================
-- Author : DavidYang
-- Create date : 2017/10/19 16:19
-- Last update : 2017/10/20 10:47
-- Description : Search Procedure FOR FutureProductMaster
-- ============================================= */
CREATE PROCEDURE [dbo].[s_Get_FutureProductMaster]
	@counterParty nvarchar(10),
    @productCode nvarchar(30),
    @productName nvarchar(50),
    @IsOption bit = null
AS
BEGIN

	SELECT 
		[id],
		[counter_party],
		[product_code],
		[product_name],
		[is_option],
		[price_dec_pla],
		[contract_size],
		[strike_dec_pla],
		CASE WHEN is_option = 1 THEN 
			'Yes' 
		ELSE 
			'No' 
		END AS Is_Option_Display 
	FROM future_product_master 
	WHERE 
			(counter_party = @counterParty OR @counterParty = '')
		AND (is_option = @IsOption OR @IsOption IS NULL)
		AND (product_code LIKE '%' + @productCode + '%' OR @productCode = '')
		AND (product_name LIKE '%' + @productName + '%' OR @productName = '')
	ORDER BY [counter_party], [product_code], [product_name]

END
GO