SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[s_Upd_ChequePrinting]') AND TYPE IN (N'P', N'PC'))
	DROP PROCEDURE [dbo].[s_Upd_ChequePrinting]
GO

/*-- =============================================
-- Author : DavidYang
-- Create date : 2017/10/19 16:19
-- Last update : 2017/11/21 15:00
-- Description : Update Procedure FOR ChequePrinting
-- ============================================= */
CREATE PROCEDURE [dbo].[s_Upd_ChequePrinting]
	@sequence		int,
	@client_code	nvarchar(8),
	@txn_date		datetime,
	@amount			decimal(18,2),
	@name			nvarchar(120),
	@updateby		varchar(10),
	@entrydate		datetime
AS
BEGIN

	IF NOT EXISTS (
		SELECT 1 
		FROM client_cheque 
		WHERE
				sequence	=	@sequence
			AND txn_date	=	@txn_date)
    BEGIN
		RAISERROR ('Not existing Sequence and Txn Date!', 16, 1)
        RETURN @@ERROR
    END
	
	
	-- Insert AccountEntity
    UPDATE client_cheque
	SET
		client_code		= @client_code,
		amount			= @amount	,
		name			= @name		,
		last_upd_user	= @updateby	,
		last_upd_date	= @entrydate
    WHERE 
			@sequence = sequence
		AND @txn_date = txn_date
	
END
GO