SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[s_Get_CommssionAdjustStock]') AND TYPE IN (N'P', N'PC'))
	DROP PROCEDURE [dbo].[s_Get_CommssionAdjustStock]
GO



/*-- =============================================
-- Author : Eddie
-- Create date : 2017/10/19 16:19
-- Last update : 2017/10/20 10:47
-- Description : Search Procedure FOR CommssionAdjustStock
-- ============================================= */
CREATE PROCEDURE [dbo].[s_Get_CommssionAdjustStock]
    @liqDB nvarchar(100),
	@adjYear nvarchar(10),
    @adjMonth nvarchar(10),
    @fromClient nvarchar(20),
	@toClient nvarchar(20),
    @nonZero bit
AS
BEGIN
    Set NOCOUNT ON;
    Set XACT_ABORT ON;

    BEGIN TRAN

	  CREATE TABLE #comm(accno nvarchar(10), accname nvarchar(200), comm numeric(14,2), adj numeric(14,2), ipo numeric(14,2))
	  DECLARE @sqlStr  VARCHAR(1000)
	  SET @sqlStr = 'SELECT DISTINCT accno FROM (SELECT accno FROM ' 
		  + @LiqDB + '.dbo.MonthComm WHERE YEAR(mth) = ' 
		  + @adjYear + ' AND MONTH(mth) = '
		  + @adjMonth +  ' UNION SELECT accno COLLATE DATABASE_DEFAULT FROM MonthCommAdj WHERE YEAR(adjDate) = '
		  + @adjYear + ' AND MONTH(adjDate) = '
		  + @adjMonth + ')a'
      INSERT INTO #comm (accno) EXEC (@sqlStr)
	  
	  SET @sqlStr = 'UPDATE #comm SET #comm.comm = tmpcomm.comm, #comm.ipo = tmpcomm.ipo FROM '
	      + @LiqDB + '.dbo.MonthComm tmpcomm '
		  + 'WHERE #comm.accno = tmpcomm.accno COLLATE DATABASE_DEFAULT AND YEAR(mth) = '
		  + @adjYear + ' AND MONTH(mth) = ' + @adjMonth

	  EXEC (@sqlStr) 

	  UPDATE #comm SET #comm.adj = tmpadj.adj FROM monthcommadj tmpadj 
	  WHERE #comm.accno = tmpadj.accno COLLATE DATABASE_DEFAULT 
	  AND YEAR(adjDate) =  @adjYear AND MONTH(adjDate) = @adjMonth

	  SET @sqlStr = 'UPDATE #comm SET #comm.accname = RTRIM(a.clt_name) FROM '
	      + @LiqDB + '.dbo.StcltMaster a '
		  + 'WHERE #comm.accno = a.clt_code COLLATE DATABASE_DEFAULT'

	  EXEC (@sqlStr) 

	  UPDATE #comm SET accname = '' WHERE accname IS NULL

	  UPDATE #comm SET comm = 0 WHERE comm IS NULL

	  UPDATE #comm SET adj = 0 WHERE adj IS NULL

	  UPDATE #comm SET ipo = 0 WHERE ipo IS NULL


	  SELECT accno, accname, @adjYear + '/' + @adjMonth AS mth, comm, adj, ipo, comm + adj + ipo AS total 
		FROM #comm AS detail WHERE 
		(accno >= @fromClient OR @fromClient = '')
		AND (accno <= @toClient OR @toClient = '')
		AND (@nonZero != 1 OR (adj > 0 OR ipo > 0))
		ORDER BY accno

	  SELECT @adjYear + '/' + @adjMonth AS tmth, SUM(comm) AS tcomm, SUM(adj) AS tadj, SUM(ipo) AS tipo, SUM(comm + adj + ipo) AS ttotal 
		FROM #comm AS total WHERE 
		(accno >= @fromClient OR @fromClient = '')
		AND (accno <= @toClient OR @toClient = '')
		AND (@nonZero != 1 OR (adj > 0 OR ipo > 0))
		ORDER BY tmth


    COMMIT TRANSACTION  
    
    IF(@@ERROR <> 0)  
		ROLLBACK TRANSACTION

    IF OBJECT_ID('DBO.#comm') IS NOT NULL
	BEGIN
       DROP TABLE #comm
    END
    
END
GO

